<div *ngIf="employee">
  <div>
    <label>Name: </label> {{employee.name}}
  </div>
  <div>
    <label>Age: </label> {{employee.age}}
  </div>
  <div>
    <label>Active: </label> {{employee.active}}
  </div>
  <div>
    <label>Email: </label> {{employee.active}}
  </div>
  <div>
    <label>Mobile Number: </label> {{employee.active}}
  </div>
  <span class="button btn-sm btn-primary" *ngIf='employee.active' (click)='updateActive(false)'>Inactive</span>
  <span class="button btn-sm btn-primary" *ngIf='!employee.active' (click)='updateActive(true)'>Active</span>
  <span class="button btn-sm btn-danger" (click)='deleteEmployee()'>Delete</span>
  <hr/>
</div>
